.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

.header {
  position: sticky;
  height: 64px;
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(26, 27, 30, 0.8));
  backdrop-filter: blur(20px);
}

.inner {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  transition: color 0.2s ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-0));

    @media (max-width: $mantine-breakpoint-md) {
      background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
      );
    }
  }

  [data-mantine-color-scheme] &[data-active] {
    color: var(--mantine-color-pink-light-color);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }
}
