@import "@mantine/core/styles.css";
@import "@mantine/carousel/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dropzone/styles.css";
@import "@mantine/dates/styles.css";
@import "mantine-datatable/styles.css";

@layer mantine, mantine-datatable;

.mantine-datatable-table {
  thead {
    font-family: var(--mantine-font-family-headings);
  }

  th {
    font-weight: 600;
    font-size: var(--mantine-h6-font-size);
  }
}
