.folder {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;

  .title {
    font-size: calc(0.6875rem * var(--mantine-scale));
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    color: var(--mantine-color-dimmed);

    transition:
      color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding-left 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .expandMore,
  .expandLess {
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
  }

  &:hover {
    .title {
      padding-left: calc(0.3rem * var(--mantine-scale));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }

    .expandMore,
    .expandLess {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}

.navbarItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: rem(10);
  padding: rem(4) rem(8);
  border-radius: rem(6);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;

  .title {
    font-size: var(--mantine-font-size-xs);
    color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-1));
  }

  svg {
    color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-1));
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }

  &[data-active="true"] {
    background-color: light-dark(
      color-mix(in srgb, var(--mantine-primary-color-1) 80%, transparent),
      color-mix(in srgb, var(--mantine-primary-color-3) 20%, transparent)
    );

    .title {
      font-weight: 600;
      color: light-dark(
        var(--mantine-primary-color-6),
        var(--mantine-primary-color-3)
      );
    }

    svg {
      color: light-dark(
        var(--mantine-primary-color-6),
        var(--mantine-primary-color-3)
      );
    }
  }
}
